@font-face {
  font-family: Hurme Geometric Sans\3;
  src: url(../fonts/HurmeGeometricSans3W05-Rg.927fd43.woff2) format("woff2"),
    url(../fonts/HurmeGeometricSans3W05-Rg.c7dce91.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Hurme Geometric Sans\3;
  src: url(../fonts/HurmeGeometricSans3W05-Bold.e1b7848.woff2) format("woff2"),
    url(../fonts/HurmeGeometricSans3W05-Bold.ce272bd.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Hurme Geometric Sans\4;
  src: url(../fonts/HurmeGeometricSans4W05-SmBd.d3a6995.woff2) format("woff2"),
    url(../fonts/HurmeGeometricSans4W05-SmBd.bbd7eec.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Albra Display;
  src: url(../fonts/AlbraDisplay-MediumItalic.c92f4e3.woff2) format("woff2"),
    url(../fonts/AlbraDisplay-MediumItalic.5580f67.woff) format("woff"),
    url(../fonts/AlbraDisplay-MediumItalic.82f0136.ttf) format("ttf");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

body {
  font-family: Hurme Geometric Sans\3, sans-serif;
}

.navbar {
  padding: 0;
  box-shadow: 0 10px 20px #dad2e5;
}

.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
  text-align: left;
}

.navbar-brand {
  float: none;
  padding: 0;
}

.navbar-brand img {
  width: 180px;
  margin: 25px;
}

#annotations {
  line-height: 40px;
  position: relative;
}

.ent {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 0.25em;
  padding: 0.45em 0.6em;
  border-radius: 4px;
  border: 1px solid rgba(246, 115, 1, 0.574);
  background: rgba(246, 114, 1, 0.8);
  display: inline;
  position: relative;
  color: white
}
.ent:hover {
  outline: 2px solid #7ba0ff55;
}
.ent::after {
  content: attr(data-label);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  padding: 1px 4px;
  border-radius: 999px;
  margin-left: 6px;
}

/* Optional label-based tints (examples)
.ent[data-label="PERSON"] {
  background: #2a184a;
}
.ent[data-label="ORG"] {
  background: #184a2a;
}
.ent[data-label="GPE"],
.ent[data-label="LOC"] {
  background: #4a2a18;
} */


.btn,
.btn:active,
.btn:visited,
.btn:focus {
  background-color: rgba(246, 114, 1, 1);
  border-color: rgba(246, 114, 1, 0.8);
  outline-color: rgba(246, 114, 1, 0.5);
  color: white;
}

.btn:hover {
  background-color: white !important;
  border-color: rgba(246, 114, 1, 0.8) !important;
  color: rgba(246, 114, 1, 1);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  background-color: white;
  border-color: rgba(246, 114, 1, 0.8);
  outline-color: rgba(246, 114, 1, 0.5);
  color: rgba(246, 114, 1, 1);;
}

.btn-secondary:hover {
  background-color: rgba(246, 114, 1, 1) !important;
  border-color: rgba(246, 114, 1, 0.8) !important;
  color: white;
}

.input-text-area {
  background-color: #f2f2f2;
  border-radius: 4px;
  border-color: rgb(206, 212, 218);
}

.input-text-area:focus {
  border-color: rgb(206, 212, 218);
  box-shadow: none;
}

